body {
  font-family: Arial, Helvetica, sans-serif, "Lucida Sans", Arial, sans-serif;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(239, 246, 249) 0%,
    rgb(206, 239, 253) 90%
  );
}
h1 {
  color: #38598b;
  font-family: "Bad Script", cursive;
  font-size: 50px;
  margin: 0 auto;
  font-weight: lighter;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #3d3e41;
  border-radius: 10px;
}

ul {
  margin: 0;
  padding: 0;
  color: gray;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrap {
  max-width: 600px;
  margin: 30px auto;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  float: left;
}

.weather-temperature strong {
  font-size: 40px;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}

.weather-temperature.active {
  color: gray;
  cursor: default;
}
.weather-temperature.active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-cate {
  font-size: 14px;
  color: #000;
}
.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  color: gray;
}
